---
BasedOnStyle: Google
AccessModifierOffset: '-2'
AlignTrailingComments: 'true'
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: 'false'
BinPackArguments: 'false'
BinPackParameters: 'false'
ColumnLimit: 10000
IndentWidth: '4'
Language: Cpp
PenaltyBreakAssignment: '0'
PenaltyBreakComment: '200'
PenaltyBreakFirstLessLess: '200'
PenaltyReturnTypeOnItsOwnLine: '200'
ReflowComments: 'true'
PackConstructorInitializers: 'NextLineOnly'
AllowShortIfStatementsOnASingleLine: 'true'
...
